<!DOCTYPE html>
<html>
<head>
    <title>添加分享</title>
</head>
<body>
    <form method="post" action="/share">
        <input type="text" name="name" value="" placeholder="分享名称">
        <input type="text" name="speaker" value="" placeholder="讲师">
        <input type="text" name="link" value="" placeholder="链接">
        <input type="text" name="img" value="" placeholder="图片链接">
        <input type="file" name="imgFile" value="" placeholder="">
        <button type="submit">添加</button>
    </form>
</body>
</html>