<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>创新思享汇-2013年度讲师评选</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-theme.min.css" type="text/css">
    <style type="text/css">
      .col-md-6#change{
        width: 47%;
        height: 232px;
        border: 1px solid #aaaaaa;
        padding: 20px 0;
        border-radius: 8px;
        margin-right: 3%;
        margin-bottom: 27px;
        background-color: #fff;
      }
      .change_h3{
        margin-top: 30px;
        margin-bottom: 20px;
      }
      #img_center{
        text-align: center;
      }
    </style>
    <!--[if lt IE 10]>
    <script type="text/javascript" src="./javascripts/json3.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="./javascripts/jquery.js"></script>
    <script type="text/javascript" src="./javascripts/angular.min.js"></script>
    <script type="text/javascript" src="./javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="./javascripts/share-ctrl.js"></script>
</head>
<body ng-app="app" id="ng-app">
<div class="container">
    <img class="left" src="http://vote4share.u.qiniudn.com/cube.png?imageView/1/w/206/h/156">
    <img class="left" src="http://vote4share.u.qiniudn.com/font.png?imageView/2/w/726">
</div>
<div class="container"></div>
<div class="container">

    <div class="row" ng-controller="ShareCtrl">
        <div class="col-md-10 pull-left">
            <h3 class="change_h3">讲师评选</h3>
            <div class="row">
                <ul class="list-unstyled">
                    <li class="col-md-6" ng-repeat="s in share" id="change">
                        <div class="col-md-5"><i></i>
                                <img class="img-rounded" ng-src="{{s.img}}?imageView/2/w/180/h/180" alt="{{s.name}}">
                        </div>
                        <div class="col-md-7">
                            <div class="photo_grid_author"> 讲师： {{s.speaker}}</div>
                            <div class="voteBar">得票
                                <span id="polls{{s.id}}">{{s.votes}}</span></div>
                            <div class="voteBar2"><a ng-click="vote(s)" href="">
                                <img src="./resources/votebutton.gif" width="77"
                                 height="22" id="vbut{{s.id}}" name="vbut{{s.id}}"></a>
                            </div>
                            <div class="photo_grid_author"> 主题：
                                <ul>
                                    <li ng-repeat="sub in s.subjects">
                                        <a href="{{sub.link}}" target="_blank"
                                           title="{{sub.name}}">{{sub.date}} {{sub.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="blank10"></div>
            <div class="blank10"></div>

        </div>
        <!-- end left -->
        <div class="pull-right col-md-2">
            <h3 class="change_h3">排行榜</h3>

            <div class="row"></div>

            <div class="row">
                <div class="up_none"></div>
                <div class="scroll_box2">
                    <ul class="list-unstyled">
                        <li class="row" ng-repeat="s in rankList">
                            <div class="col-md-6" id="img_center"><i></i>
                                    <img class="img-circle" ng-src="{{s.img}}?imageView/2/w/94/h/75" alt="{{s.name}}">
                            </div>
                            <div class="col-md-6">
                                <span class="num{{s.ranking}}">
                                <div class="detail">{{s.speaker}}</div>
                                </span>
                                <div style="height: 15px"></div>
                                <div class="detail">得票:<span class="f_orange">{{s.votes}}</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="down_none"></div>
            </div>

            <div class="blank10"></div>
            <div class="blank10"></div>
        </div>
        <!-- end right -->
    </div>
    <!-- end contentC -->
</div>
<div class="container"></div>
<script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
</body>
</html>