<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>创新思享汇-讲师评选</title>
    <link rel="stylesheet" href="./resources/global.css" type="text/css">
    <link rel="stylesheet" href="./resources/style.css" type="text/css">
    <!--[if lt IE 10]>
    <script type="text/javascript" src="./javascripts/json3.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="./javascripts/jquery.js"></script>
    <script type="text/javascript" src="./javascripts/angular.min.js"></script>
    <script type="text/javascript" src="./javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="./javascripts/share-ctrl.js"></script>
    <!-- Contact Form JS and CSS files -->
    <script src="./resources/basic.js" type="text/javascript"></script>
    <script src="./resources/global.js" type="text/javascript"></script>
    <script type="text/javascript">
        var img = new Image();
        img.src = "http://zj.svip.sohu.com/theme/one/images/votebutton_s.gif";
    </script>
</head>
<body ng-app="app" id="ng-app">

<div class="collectNav" id="basicModal">
    <ul>
        <li><a target="_self" class="basic">创新思享汇-讲师评选</a></li>
    </ul>
</div>
<div class="topbar950"></div>
<div class="wrapper950">

    <div class="contentC" ng-controller="ShareCtrl">
        <div class="left">
            <h3>活动回顾</h3>

            <div class="blank5"></div>
            <div class="cateBg">
                <ul class="photo_grid">
                    <li ng-repeat="s in share">
                        <div class="photo_grid_image"><i></i>
                            <a href="{{s.link}}"
                               target="_blank" title="{{s.name}}">
                                <img ng-src="{{s.img}}" alt="{{s.name}}"></a>
                        </div>
                        <div class="photo_grid_author">
                            名称：
                            <a href="{{s.link}}"
                               target="_blank"
                               title="{{s.name}}">{{s.name}}</a><br></div>
                        <div class="photo_grid_author">
                            讲师：
                            <a href="{{s.link}}"
                               target="_blank">{{s.speaker}}</a></div>
                        <div class="voteBar">得票
                            <span id="polls{{s.id}}">{{s.votes}}</span></div>
                        <div class="voteBar2"><a ng-click="vote(s)" href="">
                            <img src="./resources/votebutton.gif" width="77" height="22"
                                 id="vbut{{s.id}}"
                                 name="vbut{{s.id}}"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="blank10"></div>
            <div class="blank10"></div>

        </div>
        <!-- end left -->
        <div class="right">
            <h3>排行榜</h3>

            <div class="blank5"></div>

            <div class="scroll_chart2">
                <div class="up_none"></div>
                <div class="scroll_box2">
                    <ul>
                        <li ng-repeat="s in ranking">
                            <div class="leftPic"><i></i>
                                <a href="{{s.link}}"
                                   target="_blank">
                                    <img ng-src="{{s.img}}" alt="{{s.name}}"></a></div>
                            <div class="rightInfo">
                                <span class="num1"><a
                                        href="{{s.link}}"
                                        target="_blank" title="{{s.name}}">{{s.name}}</a>
                                    </span>

                                <div class="detail">讲师:<span>{{s.speaker}}</span></div>
                                <div class="detail">得票:<span class="f_orange">{{s.votes}}</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="down_none"></div>
            </div>

            <div class="blank10"></div>
            <div class="blank10"></div>
        </div>
        <!-- end right -->
    </div>
    <!-- end contentC -->
</div>
<div class="bot950"></div>
</body>
</html>