<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv.js"></script>
      <script src="javascripts/respond.min.js"></script>
      <script type="text/javascript" src="javascripts/json3.min.js"></script>
    <![endif]-->

    <title>讲师信息管理</title>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <script src="javascripts/share-ctrl.js"></script>
    <style type="text/css" media="screen">
        .del-true {
          text-decoration: line-through;
          color: grey;
        }
    </style>
</head>
<body ng-app="app" id="ng-app">
    <div class="container" ng-controller="ShareCtrl">
        <div class="row form-group">
            <form ng-submit="add()">
                <input class="col-md-1" type="text" ng-model="speaker" placeholder="讲师">
                <input class="col-md-8" type="text" ng-model="img" placeholder="图片链接">
                <button class="col-md-1 btn-success" type="submit">添加</button>
            </form>
            <button class="col-md-1 btn-primary" ng-click="addSub()">添加主题</button>
            <button class="col-md-1 btn-danger" ng-click="del()">删除</button>
        </div>
        <div class="row form-group" id="sub-form">
            <div class="col-md-12" ng-repeat="s in subjects">
                <input class="col-md-3" type="text" ng-model="s.name" placeholder="主题">
                <input class="col-md-2" type="text" ng-model="s.date" placeholder="日期">
                <input class="col-md-7" type="text" ng-model="s.link" placeholder="链接">
            </div>
        </div>

        <div class="row panel panel-default">
            <ul>
                温馨提示：
                <li>需要上传文件的同学请访问 <a href="http://qiniu.com" target="_blank">七牛云存储</a>, 不是广告，超级好用！还可以自动压缩比例。</li>
                <li>图片尺寸不要大于150px。</li>
                <li>访问本页样式错乱的同学请使用搜狗浏览器或谷歌浏览器。</li>
                <li>任何问题请发送邮件至 <a href="mailto:jackxinli@sohu-inc.com?subject=创新思想汇讲师评选feedback">jackxinli@sohu-inc.com</a>。</li>
            </ul>
        </div>

        <ul class="list-unstyled">
            <li class="row">
                <span class="col-md-1">#</span>
                <span class="col-md-1">讲师</span>
                <span class="col-md-8">
                    <div class="row">
                        <span class="col-md-4">主题</span>
                        <span class="col-md-2">日期</span>
                        <span class="col-md-6">链接</span>
                    </div>
                </span>
                <span class="col-md-2">图片</span>
            </li>
            <li class="row" ng-repeat="s in share">
                <span class="col-md-1">
                    <input type="checkbox" ng-model="s.del">
                </span>
                <span class="col-md-1 del-{{s.del}}">{{s.speaker}}</span>
                <span class="col-md-8">
                    <div class="row" ng-repeat="sub in s.subjects">
                        <span class="col-md-4 del-{{s.del}}">{{sub.name}}</span>
                        <span class="col-md-2 del-{{s.del}}">{{sub.date}}</span>
                        <a class="col-md-6 del-{{s.del}}" href="{{s.link}}">{{sub.link}}</a>
                    </div>
                </span>
                <img class="col-md-2" ng-src="{{s.img}}?imageView/2/w/150/h/150" alt="{{s.name}}">
            </li>
        </ul>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>