BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; FONT: 12px 'ו'; COLOR: #666; PADDING-TOP: 0px; TEXT-ALIGN: center
}
UNKNOWN {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
H2 {
	TEXT-ALIGN: right
}
H2 SPAN {
	FONT-WEIGHT: bold; FLOAT: left
}
.clear {
	ZOOM: 1
}
.area {
	ZOOM: 1
}
.pp {
	ZOOM: 1
}
.pt {
	ZOOM: 1
}
.show {
	DISPLAY: block
}
.hidden {
	DISPLAY: none
}
.pp {
	MARGIN: 0px auto; WIDTH: 100%
}
.pt {
	MARGIN: 0px auto; WIDTH: 100%
}
.list12 UL {
	MARGIN: 0px auto; WIDTH: 100%
}
.list14 UL {
	MARGIN: 0px auto; WIDTH: 100%
}
.area {
	MARGIN: 0px auto; WIDTH: 100%
}
.pp:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.pt:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.area:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clear:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.pp {
	TEXT-ALIGN: center
}
.pp IMG {
	DISPLAY: block; MARGIN: 0px auto
}
.pp SPAN {
	DISPLAY: block
}
.pt {
	COLOR: #666; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.pt DIV {
	FLOAT: left; MARGIN: 0px 10px 0px 0px
}
.pt P {
	CLEAR: none
}
.list14 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; COLOR: #333; LINE-HEIGHT: 16px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.list12 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; COLOR: #333; LINE-HEIGHT: 16px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.list14 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.left {
	DISPLAY: inline; FLOAT: left
}
.center {
	DISPLAY: inline; FLOAT: left
}
.l {
	DISPLAY: inline; FLOAT: left
}
.right {
	FLOAT: right
}
.r {
	FLOAT: right
}
.fontArial {
	FONT-FAMILY: 'Arial'
}
.b {
	FONT-WEIGHT: bold
}
.blank5 {
	FONT-SIZE: 1px
}
.blank8 {
	FONT-SIZE: 1px
}
.blank10 {
	FONT-SIZE: 1px
}
.blank5 {
	HEIGHT: 5px
}
.blank8 {
	HEIGHT: 8px
}
.blank10 {
	HEIGHT: 10px
}
.more {
	TEXT-ALIGN: right
}
.area {
	WIDTH: 950px
}
LI.nodot {
	PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%
}
#indexNav {
	BACKGROUND: #fff; MARGIN: 4px auto; COLOR: #000; HEIGHT: 22px; TEXT-ALIGN: left
}
#channelNav {
	BACKGROUND: #fff; MARGIN: 4px auto; COLOR: #000; HEIGHT: 22px; TEXT-ALIGN: left
}
#channelNav {
	BACKGROUND: #efebef
}
#indexNav UL {
	PADDING-RIGHT: 6px
}
#channelNav UL {
	PADDING-RIGHT: 6px
}
#indexNav LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px auto 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px
}
#channelNav LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px auto 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px
}
#indexNav .end {
	PADDING-RIGHT: 0px
}
#channelNav .end {
	PADDING-RIGHT: 0px
}
#indexNav .red A {
	COLOR: #f00
}
#channelNav .red A {
	COLOR: #f00
}
#indexNav A {
	COLOR: #000
}
#channelNav A {
	COLOR: #000
}
#foot {
	PADDING-RIGHT: 0px; BORDER-TOP: #333 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 5px auto 0px; COLOR: #333; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
