@charset "gb2312";
/* 征集活动模板页样式 */

/* 个人展示区 */
.topBannerBao{ width:948px; border:1px solid #c9c9c9; background:#f2f2f2; margin:0 auto; text-align:left; padding:10px 0;}
.topBannerBao h3{ height:30px; line-height:30px; background:url(http://zj.svip.sohu.com/theme/one/images/arrow_blue.gif) no-repeat 15px 12px; font-size:14px; font-weight:bold; color:#0168c7; text-indent:25px; position:relative;}
.topBannerBao h3 #closeLogin{ position:absolute; right:35px; top:5px; width:45px; height:15px; cursor:pointer; }
.topBanner { width:948px; height:auto; overflow:hidden; background:#f2f2f2;  position:relative; z-index:2;}
.topBanner .photo_grid{width:948px; height:auto; overflow:hidden;  padding-top:10px;}
.topBanner .photo_grid li{ width:172px; height:auto; padding:3px 0; overflow:hidden; float:left;  margin:0 0 5px 13px; *display:inline;  }
.topBanner .photo_grid li .photo_grid_image{ display:block; width:170px; height:170px; background:#f6f6f6; border:1px solid #e9e9e9; margin-bottom:1px; text-align:center;}
.topBanner .photo_grid li .photo_grid_image i{display:inline-block; height:100%; vertical-align:middle;}
.topBanner .photo_grid li .photo_grid_image img{vertical-align:middle;}


/* 可替换banner950样式 */
.collectBanner{width:950px; height:auto; overflow:hidden; margin-left:auto; margin-right:auto; margin-bottom:1px; *margin-bottom:1px !important; *margin-bottom:-3px; }


/* 导航条样式 */
.collectNav{width:930px; height:33px; padding:0 0 0 20px; margin:0 auto; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar950.gif) no-repeat;}
.collectNav ul li{float:left; margin:6px 10px 0 25px; *display:inline; cursor:pointer; }
.collectNav ul li a{font-family:"微软雅黑"; font-size:15px; font-weight:bold; color:#fff;}
.collectNav ul li a:hover{text-decoration:none;}


.wrapper950{width:932px; height:auto; overflow:hidden; margin:0 auto; padding:7px; border:2px solid #dbdbdb; border-top:none; border-bottom:none;}
.bot950{width:950px; height:7px; background:url(http://zj.svip.sohu.com/theme/one/images/bot950.gif) no-repeat; margin:0 auto;}
.topbar950{width:950px; height:7px; background:url(http://zj.svip.sohu.com/theme/one/images/topbar950x7.gif) no-repeat;margin-left:auto; margin-right:auto; *margin-bottom:0 !important; *margin-bottom:-7px;}

.contentA{ height:356px; overflow:hidden;}

/* flash焦点图 */
.contentA .left{width:324px; height:342px;  background:url(http://zj.svip.sohu.com/theme/one/images/box339x356.gif) no-repeat; padding:7px 7px 7px 8px;}

.contentA .right{width:580px; height:auto; overflow:hidden; text-align:left;}

/* 大赛简介大赛奖品 */
.contentA .right h3{ font-family:"微软雅黑"; font-size:16px; font-weight:bold; color:#de1a46; margin:0; background:url(http://zj.svip.sohu.com/theme/one/images/arrow_pink.gif) no-repeat 10px center; text-indent:20px;}
.contentA .right h3.blue{ font-family:"微软雅黑"; font-size:16px; font-weight:bold; color:#143d9a; margin:0; background:url(http://zj.svip.sohu.com/theme/one/images/arrow_blue4x8.gif) no-repeat 10px center; text-indent:20px;}
.contentA .right h4{font-weight:bold; font-size:12px; color:#333; margin-left:10px;}
.contentA .right p{line-height:20px; color:#333; margin-left:10px;}
.contentA .right .grayLine{width:580px; height:1px; background:url(http://zj.svip.sohu.com/theme/one/images/grayLine.gif) repeat-x;}




/* 大赛协办单位及媒体 */
.contentB{height:272px; text-align:left;}
.contentB .left{width:319px; height:254px; padding:18px 0 0 20px; background:url(http://zj.svip.sohu.com/theme/one/images/box339x272.gif) no-repeat;}
.contentB .right{width:568px; height:257px; padding:15px 0 0 15px; background:url(http://zj.svip.sohu.com/theme/one/images/bg583x272.gif) no-repeat;}
.contentB .left h3{ font-family:"微软雅黑"; font-size:16px; font-weight:bold; color:#de1a46; margin:0; background:url(http://zj.svip.sohu.com/theme/one/images/arrow_pink.gif) no-repeat 0 center; text-indent:10px;}
.contentB .left h3.blue{ font-family:"微软雅黑"; font-size:16px; font-weight:bold; color:#143d9a; margin:0; background:url(http://zj.svip.sohu.com/theme/one/images/arrow_blue4x8.gif) no-repeat 10px center; text-indent:20px;}
.contentB .left .list12 li{background:url(http://zj.svip.sohu.com/theme/one/images/blackDot.gif) no-repeat left 9px; text-indent:10px;}
.contentB .left .list12 li a{color:#333;}
.contentB .right h3 {font-family:"微软雅黑"; font-size:16px; font-weight:bold; color:#de1a46; margin:0; background:url(http://zj.svip.sohu.com/theme/one/images/arrow_pink.gif) no-repeat 0 center; text-indent:10px;}

.contentB .right p{color:#333; margin-left:10px;}
.contentB .right p a{color:#333;}

.contentB .right_blue{width:568px; height:257px; float:right; padding:15px 0 0 15px; background:url(http://zj.svip.sohu.com/theme/one/images/bg583x272_subject2.gif) no-repeat;}
.contentB .right_blue h3{ font-family:"微软雅黑"; font-size:16px; font-weight:bold; color:#143d9a; margin:0; background:url(http://zj.svip.sohu.com/theme/one/images/arrow_blue4x8.gif) no-repeat 10px center; text-indent:20px;}
.contentB .right_blue p{color:#333; margin-left:10px;}
.contentB .right_blue p a{color:#333;}



.contentC .right{width:206px; height:auto; overflow:hidden;}

/*以下为作品列表区(有排行榜样式)开始*/

/* 分类照片标题栏*/ 
.contentC{height:auto; overflow:hidden; text-align:left;}
.contentC .left{width:718px; height:auto; overflow:hidden;}
.contentC .left h3{height:34px; padding:0 10px 0 10px; line-height:34px; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar950.gif) no-repeat left -33px; font-size:14px; font-weight:bold; color:#fff;}
.contentC .left h3.blue{height:34px; padding:0 10px 0 10px; line-height:34px; background: url(http://zj.svip.sohu.com/theme/one/images/titlebar950_subject2.gif) no-repeat left -33px; font-size:14px; font-weight:bold; color:#fff;}
.contentC .left h3 span.more{float:right; margin-top:-33px; font-weight:bold; font-size:14px;}
.contentC .left h3 span.more a{color:#fff;}

/* 分类照片背景-默认*/ 
.contentC .left .cateBg{width:715px; height:auto; overflow:hidden; padding:10px 0 10px 0;  margin:0 auto; background:#fbf4e7; border:1px solid #f3e4c8;}
.contentC .left .cateBg span.more{float:right; margin:0 10px 10px 0; font-weight:bold; font-size:12px; display:block;}
.contentC .left .cateBg span.more a{color:#f96e15;}
.contentC .left .cateBg h3{font-size:14px; font-weight:bold; color:#f96e15; background:none; margin:-10px 0 0 0;}
.contentC .left .cateBg h3.blue{font-size:14px; font-weight:bold; color:#143d9a; background:none; margin:-10px 0 0 0;}
.contentC .left .cateBg h3 span.more{float:right; margin:-30px 0 0 0; font-size:12px; }
.contentC .left .cateBg h3 span.more a{color:#f96e15;}
.contentC .left .cateBg h3 span.more_blue{float:right; margin:-30px 0 0 0; font-size:12px; }
.contentC .left .cateBg h3 span.more_blue a{color:#143d9a;}

/* 分类照片-各项展示*/ 
.contentC .left .photo_grid{width:715px; height:auto; overflow:hidden;}
.contentC .left .photo_grid li{ width:172px; height:auto; padding:3px; overflow:hidden; float:left;  margin:0 0 5px 0; *display:inline; position:relative; }
.contentC .left .photo_grid li:hover{background: url(http://zj.svip.sohu.com/theme/one/images/blinkPic_bg_2.png) no-repeat -2px -2px;display:block; position:absolute; top:0; left:0; padding:3px; position:relative; }

.contentC .left .photo_grid li .photo_grid_image{ display:block; width:170px; height:170px; background:#f6f6f6; border:1px solid #e9e9e9; margin-bottom:1px; text-align:center;}
.contentC .left .photo_grid li .photo_grid_image i{display:inline-block; height:100%; vertical-align:middle;}
.contentC .left .photo_grid li .photo_grid_image img{vertical-align:middle; margin-left: -7px;min-width: 170px;max-height: 170px;}


.contentC .left .photo_grid .photo_grid_author{line-height:20px;  width:160px; padding:3px 0 0 10px; }

/*信息提示*/
.contentC .left .photo_grid .photo_grid_author .hotspot { color:#333; cursor:pointer}
#tt {position:absolute;  display:block; background:url(http://zj.svip.sohu.com/theme/one/images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(http://zj.svip.sohu.com/theme/one/images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; width:150px; background:#666; color:#FFF; text-align:left; line-height:20px;}
#ttbot {display:block; height:5px; margin-left:5px; background:url(http://zj.svip.sohu.com/theme/one/images/tt_bottom.gif) top right no-repeat; overflow:hidden}

.contentC .left .photo_grid .voteBar{height:27px;width:160px; padding:3px 0 0 10px;  text-align:left; color:#333; }
.contentC .left .photo_grid .voteBar span{color:#ff4200; margin:0 3px 0 3px;}
.contentC .left .photo_grid .voteBar input{width:48px; height:20px; margin-left:5px; background:url(http://zj.svip.sohu.com/theme/one/images/btn48x20.gif) no-repeat; font-weight:bold; color:#1e6aa2; border:none; cursor:pointer; }
.contentC .left .photo_grid .voteBar2{height:27px;width:160px; padding:3px 0 0 10px;text-align:center;}

/* 更多分类照片-各项展示*/ 
.contentD{width:930px; height:auto; overflow:hidden; margin:0 auto; text-align:left;}
.contentD h3{height:34px; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar930.gif) no-repeat; padding-left:10px; line-height:34px; font-size:14px; font-weight:bold; color:#fff;}
.contentD .photo_grid{width:910px; height:auto; overflow:hidden; margin:0 auto;  }
.contentD .photo_grid li{height:auto; padding:5px; overflow:hidden; float:left;  margin:10px 0 5px 0; *display:inline; position:relative;}
.contentD .photo_grid li:hover{background: url(http://zj.svip.sohu.com/theme/one/images/blinkPic_bg.png) no-repeat 0 -1px;display:block; position:absolute; top:0; left:0; padding:5px; position:relative;  }

.contentD .photo_grid li .photo_grid_image{ display:block; width:170px; height:170px; background:#f6f6f6; border:1px solid #e9e9e9; margin-bottom:1px;text-align:center; }
.contentD .photo_grid li .photo_grid_image i{display:inline-block; height:100%; vertical-align:middle;}
.contentD .photo_grid li .photo_grid_image img{vertical-align:middle;}

.contentD .photo_grid .photo_grid_author{line-height:20px;  color:#333; width:160px; padding:3px 0 0 10px; margin:5px 0 0 0; }
/*信息提示*/
.contentD .photo_grid .photo_grid_author .hotspot { color:#333; cursor:pointer}

.contentD .photo_grid .voteBar{height:27px; width:160px;   padding:3px 0 0 10px;  color:#333;}
.contentD .photo_grid .voteBar span{color:#ff4200; margin:0 3px 0 3px;}
.contentD .photo_grid .voteBar input{width:48px; height:20px; margin-left:5px; background:url(http://zj.svip.sohu.com/theme/one/images/btn48x20.gif) no-repeat; font-weight:bold; color:#1e6aa2; border:none; cursor:pointer; }
.contentD .photo_grid .voteBar2{width:160px; height:22px; padding:3px 0 0 10px; text-align:center;}

/*以上为作品列表区(有排行榜样式)结束 */

/*以下为作品列表区(无排行榜样式)开始*/

/*.contentC{ width:932px;height:auto; overflow:hidden; text-align:left;}
.contentC .left{width:932px; height:auto; overflow:hidden;}
.contentC .right{width:206px; height:auto; overflow:hidden; }


.contentC .left h3{height:34px; padding:0 10px 0 10px; line-height:34px; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar930_34.gif) no-repeat; font-size:14px; font-weight:bold; color:#fff;}
.contentC .left h3.blue{height:34px; padding:0 10px 0 10px; line-height:34px; background: url(http://zj.svip.sohu.com/theme/one/images/titlebar950_subject2.gif) no-repeat left -33px; font-size:14px; font-weight:bold; color:#fff;}
.contentC .left h3 span.more{float:right; margin-top:-33px; font-weight:bold; font-size:14px;}
.contentC .left h3 span.more a{color:#fff;}


.contentC .left .cateBg{width:930px; height:auto; overflow:hidden; padding:10px 0 10px 0;  margin:0; background:#fbf4e7; border:1px solid #f3e4c8;}
.contentC .left .cateBg span.more{float:right; margin:0 10px 10px 0; font-weight:bold; font-size:12px; display:block;}
.contentC .left .cateBg span.more a{color:#f96e15;}
.contentC .left .cateBg h3{ font-size:14px; font-weight:bold; color:#f96e15; background:none; height:34px; line-height:34px; margin:0 0 10px 10px;}
.contentC .left .cateBg h3.blue{font-size:14px; font-weight:bold; color:#143d9a; background:none; margin:-10px 0 0 0;}
.contentC .left .cateBg h3 span.more{float:right; margin:-35px 10px 0 0; font-size:12px; }
@media all and (min-width: 0px){ .contentC .left .cateBg h3 span.more{float:right; margin:0 10px 0 0; font-size:12px; }}
.contentC .left .cateBg h3 span.more a{color:#f96e15;}
.contentC .left .cateBg h3 span.more_blue{float:right; margin:-30px 0 0 0; font-size:12px; }
.contentC .left .cateBg h3 span.more_blue a{color:#143d9a;}


.contentC .left .photo_grid{width:930px; height:auto; overflow:hidden;}
.contentC .left .photo_grid li{ width:172px; height:auto; padding:3px; overflow:hidden; float:left;  margin:0 0 5px 5px; *display:inline; position:relative; }
.contentC .left .photo_grid li:hover{background: url(http://zj.svip.sohu.com/theme/one/images/blinkPic_bg_2.png) no-repeat -2px -2px;display:block; position:absolute; top:0; left:0; padding:3px; position:relative; }

.contentC .left .photo_grid li .photo_grid_image{ display:block; width:170px; height:170px; background:#f6f6f6; border:1px solid #e9e9e9; margin-bottom:1px; text-align:center;}
.contentC .left .photo_grid li .photo_grid_image i{display:inline-block; height:100%; vertical-align:middle;}
.contentC .left .photo_grid li .photo_grid_image img{vertical-align:middle;}


.contentC .left .photo_grid .photo_grid_author{line-height:20px;  width:160px; padding:3px 0 0 10px; }


.contentC .left .photo_grid .photo_grid_author .hotspot { color:#333; cursor:pointer}
#tt {position:absolute;  display:block; background:url(http://zj.svip.sohu.com/theme/one/images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(http://zj.svip.sohu.com/theme/one/images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; width:150px; background:#666; color:#FFF; text-align:left; line-height:20px;}
#ttbot {display:block; height:5px; margin-left:5px; background:url(http://zj.svip.sohu.com/theme/one/images/tt_bottom.gif) top right no-repeat; overflow:hidden}

.contentC .left .photo_grid .voteBar{height:27px;width:160px; padding:3px 0 0 10px;  text-align:left; color:#333; }
.contentC .left .photo_grid .voteBar span{color:#ff4200; margin:0 3px 0 3px;}
.contentC .left .photo_grid .voteBar input{width:48px; height:20px; margin-left:5px; background:url(http://zj.svip.sohu.com/theme/one/images/btn48x20.gif) no-repeat; font-weight:bold; color:#1e6aa2; border:none; cursor:pointer; }
s .left .photo_grid .voteBar2{height:27px;width:160px; padding:3px 0 0 10px;text-align:center;}

/*作品列表区(无排行榜样式)结束 */



/*  面包屑导航 左侧 */
.breadCrumb{ width:950px; height:30px; line-height:30px; overflow:hidden; padding:5px 0 0 0; margin:0 auto;}
.breadCrumb .left{display:block; width:auto; margin:0 0 0 10px; }
.breadCrumb .left span{  font-size:14px;}
.breadCrumb .left span a{color:#333; }
.breadCrumb .left span.current a{color:#d91541; text-decoration:underline;}
.breadCrumb .left span.current2 a{color:#0168c7; font-size:12px; margin-left:10px; text-decoration:underline;}


/*  面包屑导航 右侧 退出出口 */
.breadCrumb .right{display:block; *margin:0 !important; *margin:5px 0 0 0;}
.breadCrumb .right span{margin:0 10px 0 0;}
.breadCrumb .right span a{color:#0168cf;}
.breadCrumb .right span a{text-decoration:underline;}
.breadCrumb .right span.category{background:url(http://zj.svip.sohu.com/theme/one/images/arrow_pink.gif) no-repeat 0 center; padding-left:10px; font-size:14px;}
.breadCrumb .right span.category select{color:#ccc; font-size:12px; width:100px; border:1px solid #d3d3d3; text-align:center;}
.breadCrumb .right span.category select option{color:#ccc; font-size:12px; text-align:center;}
.breadCrumb .right span.loginAfter{background:url(http://zj.svip.sohu.com/theme/one/images/arrow_pink.gif) no-repeat 0 center; padding-left:10px; font-size:12px;}
.breadCrumb .right span.loginAfter a{color:#0168cf;}

/*  页码导航条  */
.pageBar{width:910px; padding-right:20px; margin:0 auto; text-align:right;}
.pageBar span{color:#206fbd; border:1px solid #cdcbcc; background:#fff; display:inline-block; padding:3px 5px; }
.pageBar span a{color:#206fbd;}
.pageBar span.pre{background:#fff url(http://zj.svip.sohu.com/theme/one/images/arrow_orange1.jpg) no-repeat 5px 5px; padding:4px 5px 2px 15px; display:inline-block; }
.pageBar span.next{background:#fff url(http://zj.svip.sohu.com/theme/one/images/arrow_orange2.jpg) no-repeat 45px 5px; padding:4px 15px 2px 5px;  display:inline-block;}
.pageBar span.current{ font-weight:bold; color:#007cff; border:none; background:none; }
.pageBar span.current a{color:#007cff;}
.pageBar input.goBtn{width:30px; height:21px;  border:none; background: url(http://zj.svip.sohu.com/theme/one/http://zj.svip.sohu.com/theme/one/images/goBtn30x21.gif) no-repeat; font-weight:bold; font-size:14px; color:#505050; cursor:pointer;}

/* 投票排行榜标题栏-默认 */
.contentC .right h3{height:34px; line-height:34px; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar950.gif) no-repeat 0 -101px; font-size:14px; font-weight:bold; color:#fff; text-indent:15px;}


.contentC .right .scroll_chart{height:auto; overflow:hidden; margin-left:2px; }

/* 投票排行榜-箭头 */
.contentC .right .up{height:19px; background:url(http://zj.svip.sohu.com/theme/one/images/upDownbar_tb.gif) no-repeat; cursor:pointer;}
.contentC .right .down{height:19px; background:url(http://zj.svip.sohu.com/theme/one/images/upDownbar_tb.gif) no-repeat 0 -19px; cursor:pointer;}


/* 投票排行榜-去掉箭头 */
.contentC .right .up_none{height:19px; background:url(http://zj.svip.sohu.com/theme/one/images/upDownbar_tb2.gif) no-repeat; cursor:pointer;}
.contentC .right .down_none{height:19px; background:url(http://zj.svip.sohu.com/theme/one/images/upDownbar_tb2.gif) no-repeat 0 -19px; cursor:pointer;}

/* 投票排行榜-背景颜色 */
.contentC .right .scroll_box{height:auto; overflow:hidden; background:#f8ebe6; padding:15px 6px 0 6px;}

/* 投票排行榜-各列表项 */
.contentC .right .scroll_box ul li{width:192px; height:64px; background:#fff; margin-bottom:20px; *margin-bottom:15px !important; *margin-bottom:8px;}
.contentC .right .scroll_box ul li .leftPic{float:left; width:94px; height:64px; background:#e9e9e9; text-align:center;}
.contentC .right .scroll_box ul li .leftPic i{display:inline-block; height:100%; vertical-align:middle;}
.contentC .right .scroll_box ul li .leftPic img{vertical-align:middle;}
.contentC .right .scroll_box ul li .rightInfo{float:left;  height:44px; padding:10px 5px 5px 10px; color:#333;}
.contentC .right .scroll_box ul li .rightInfo span.num1{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num2{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -13px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num3{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -26px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num4{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -39px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num5{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -52px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num6{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -65px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num7{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -78px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num8{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -91px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num9{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -104px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num10{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -117px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num11{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -130px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num12{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -143px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num13{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -156px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num14{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -169px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num15{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -182px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num16{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -195px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num17{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -208px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num18{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -221px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num19{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -234px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.num20{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -247px; text-indent:20px; }
.contentC .right .scroll_box ul li .rightInfo span.f_orange{color:#ff4200;}
.contentC .right .scroll_box ul li .rightInfo .detail{margin:0 0 5px 0px;}




/* 投票排行榜-不滚动*/ 
.contentC .right .scroll_chart2{ height:auto; overflow:hidden; margin-left:2px; }
.contentC .right .scroll_chart2 .up_none{height:19px; background:url(http://zj.svip.sohu.com/theme/one/images/upDownbar_tb2.gif) no-repeat; }
.contentC .right .scroll_chart2 .down_none{height:19px; background:url(http://zj.svip.sohu.com/theme/one/images/upDownbar_tb2.gif) no-repeat 0 -19px; *margin:0 !important; *margin:-10px 0 0 0; }
.contentC .right .scroll_box2{ height:auto; overflow:hidden; background:#f8ebe6; padding:15px 6px 0 6px;}
.contentC .right .scroll_box2 ul li{width:192px; background:#fff; margin-bottom:10px !important; *margin-bottom:8px;min-height: 75px;}
.contentC .right .scroll_box2 ul li .leftPic{float:left; width:94px; background:#e9e9e9; text-align:center;min-height: 75px;}
.contentC .right .scroll_box2 ul li .leftPic i{display:inline-block; height:100%; vertical-align:middle;min-height: 75px;}
.contentC .right .scroll_box2 ul li .leftPic img{vertical-align:middle;max-width: 94px;max-height: 75px;margin-left: -6px;}
.contentC .right .scroll_box2 ul li .rightInfo{float:left;  height:54px; padding:5px 5px 5px 3px; color:#333;width: 90px;word-break: break-all;}
.contentC .right .scroll_box2 ul li .rightInfo span.num1{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num2{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -13px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num3{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -26px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num4{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -39px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num5{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -52px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num6{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -65px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num7{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -78px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num8{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -91px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num9{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -104px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num10{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -117px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num11{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -130px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num12{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -143px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num13{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -156px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num14{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -169px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num15{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -182px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num16{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -195px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num17{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -208px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num18{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -221px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num19{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -234px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.num20{display:block; margin-bottom:5px; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -247px; text-indent:20px; }
.contentC .right .scroll_box2 ul li .rightInfo span.f_orange{color:#ff4200;}
.contentC .right .scroll_box2 ul li .rightInfo .detail{margin:0 0 5px 0px;}



/* 上传作品页 */
.contentE{width:930px; height:auto; overflow:hidden; margin:0 auto; text-align:center;}
/*modify by bobotiey 090313*/
.contentE .box807{width:807px; height:auto; overflow:auto; margin:0 auto;}
/*modify by bobotiey 090313*/
.contentE .box807 table{background:#e3b083; width:807px; }
.contentE .box807 table td{padding:8px 5px; color:#fff; text-align:center; font-size:14px;}
.contentE .box807 .table807{background:#fff; border:1px solid #dfcfc0; border-top:1px solid #fff; }
/*add by bobotiey 090313*/
.contentE .box807 .table807 thead td{background:#e3b083;text-align:center;color:#ffffff;font-weight:bold;border:1px solid #e3b083;}
/*add by bobotiey 090313*/
.contentE .box807 .table807 td{border:1px solid #dfcfc0; color:#333; font-size:12px; border-top:none; border-bottom:none; border-right:none;}
.contentE .box807 .table807 tr.even{background:#faede5; }
.contentE .box807 .table807 td.blno{border-left:none;}

/*modify by bobotiey 090313*/
.contentE .boxTab{width:600px; height:auto; overflow:hidden; margin:0 auto; text-align:left;}
.contentE .boxTab ul{ width:600px; margin:0; padding:0 0 5px 5px; border:0; }
.contentE .boxTab ul li{width:600px; height:auto; overflow:hidden; margin-bottom:10px;}
/*modify by bobotiey 090313*/
.contentE .boxTab ul li .left{width:120px; float:left; padding:3px 0 0 8px;  font-size:14px;}
.contentE .boxTab ul li .left .note{ color:#F96E15; font-size:12px; margin:0 5px 0 0; }
.contentE .boxTab ul li .right{text-align:left; height:auto; overflow:hidden; margin-bottom:10px; text-align:left; width:470px;  }
.contentE .boxTab ul li .right .note{ color:#F96E15; font-size:12px; margin:0 0 0 5px; }
.contentE .boxTab fieldset p a{color:#0168cf;}
.contentE .boxTab fieldset p .r500{width:400px; float:right; height:auto; overflow:hidden; }
.contentE .boxTab ul li .right input.in260{width:260px; height:22px; line-height:22px; border:1px solid #d3d3d3;}
.contentE .boxTab ul li .right textarea{width:358px; height:90px; border:1px solid #d3d3d3;}
.contentE .boxTab p{width:600px; height:auto; overflow:hidden; padding:20px 0; text-align:center;}
.contentE .boxTab p input.submit{width:93px; height:29px; background: url(http://zj.svip.sohu.com/theme/one/images/btn93x29.jpg) no-repeat; border:none; margin:0 0 0 10px;  font-weight:bold; font-size:14px;  color:#5f5f5f; cursor:pointer;}
.noborder{border:none;}
.contentE .boxTab fieldset p.mart{padding:7px 0 0 0;}
.contentE .boxTab fieldset p.mart select{width:150px; height:24px; border:1px solid #d3d3d3; color:#8e8e8e;}
.contentE .boxTab fieldset p.mart select option{color:#8e8e8e;}
/*modify by bobotiey 090313*/
.contentE .boxTab fieldset p .left .note{ color:#F96E15; font-size:12px; }
/*modify by bobotiey 090313*/

/* 上传作品页背景样式 */
#simplemodal-overlay {background-color:#000; }
#simplemodal-container { height:auto; width:610px; background-color:#fff; border:3px solid #ccc;}
#simplemodal-container a.modalCloseImg { background:url(http://zj.svip.sohu.com/theme/one/images/x.png) no-repeat; width:16px; height:16px;  display:inline; z-index:3200; position:absolute; top:10px; right:10px; cursor:pointer;}
#simplemodal-container #basicModalContent {padding:5px; margin-bottom:10px;}




/* 通行证登陆条样式 */
.loginBar{width:950px; height:33px; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar950_2.gif) no-repeat; margin:1px auto 1px auto;  text-align:center;}
.loginBar table{margin:3px auto 0 auto;}
.loginBar table td{color:#970327;}
.loginBar table td a{color:#ff4007; text-decoration:underline;}
.loginBar input{width:103px; height:22px; border:1px solid #d2d4d3;}

/* 通行证登陆按钮样式 */
.loginBar input.loginBtn{width:62px; height:24px; background:url(http://zj.svip.sohu.com/theme/one/images/btnPink62x24.gif) no-repeat; border:none; color:#9d052b; font-weight:bold;}
.loginBar label{ padding:3px 0 0 7px;}



/* 注册页面 */
.contentE h3{width:930px; height:34px; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar930.gif) no-repeat; font-size:14px; font-weight:bold; text-align:left; color:#fff; text-indent:10px; line-height:34px;}

.contentE .signInfo{width:610px; height:auto; overflow:hidden; margin:0 auto 10px auto; padding-top:10px;}
.contentE .signInfo ul li{width:610px; height:auto; float:left; font-size:14px; margin-bottom:10px; text-align:left;}
.contentE .signInfo ul li .left{width:110px; text-align:left;}
.contentE .signInfo ul li .left span.note{font-size:12px; color:#F60; margin:0 10px 0 0; }
.contentE .signInfo ul li .right{width:500px; float:left; font-size:12px;}
.contentE .signInfo ul li .right span.note{font-size:12px; color:#F60; text-align:right; margin-left:20px;}
.contentE .signInfo ul li .right label{ float:left; display:block; margin-right:5px; font-size:12px; width:240px; height:auto; overflow:hidden; width:490px; }
.contentE .signInfo ul li .right textarea{width:280px; height:80px;}
.contentE .signInfo ul li input.in233{padding:3px; border:1px solid #ccc; width:200px; }
.contentE .nextStep{width:93px; height:29px; border:none; background:url(http://zj.svip.sohu.com/theme/one/images/btn93x29.jpg) no-repeat; line-height:29px; font-size:14px; font-weight:bold; color:#808080; cursor:pointer; margin:20px 0 0 0; }




/* 管理页 */
.contentF{width:930px; height:auto; overflow:hidden; margin:0 auto; text-align:center;}
.contentF .title930{ height:30px; padding-top:15px; background:url(http://zj.svip.sohu.com/theme/one/images/title930x45.gif) no-repeat; font-size:14px;}
.contentF .title930 span{display:block; float:left; margin-left:15px; background:url(http://zj.svip.sohu.com/theme/one/images/arrow_pink.gif) no-repeat left center; text-indent:10px;}
.contentF .title930 span a{font-weight:bold; color:#666;}
.contentF .title930 span a.current{text-decoration:underline;}
.contentF h3{width:930px; height:34px; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar930.gif) no-repeat; font-size:14px; font-weight:bold; text-align:left; color:#fff; text-indent:10px; line-height:34px;}

.contentF .box877{width:897px; *width:905px; height:auto; overflow:hidden; margin:0 auto;}
.contentF .box877 .box437{width:443px; height:170px; overflow:hidden; float:left; margin:0 0 10px 5px;}
.contentF .box877 .box437 .pic170{width:170px; height:170px; padding-right:1px; padding-left:5px; float:left; background:#ccc; text-align:center;}
.contentF .box877 .box437 .pic170 i{display:inline-block; height:100%; vertical-align:middle;}
.contentF .box877 .box437 .pic170 img{vertical-align:middle;}

.contentF .box877 .box437 .bgE9{width:246px; height:150px; padding:10px 10px 10px 10px; background:#e9e9e9;  vertical-align:text-top; float:left;}
.contentF .box877 .box437 .bgE9 h4{font-weight:bold; margin-bottom:10px;}
.contentF .box877 .box437 .bgE9 p{line-height:20px; text-indent:2em; text-align:left;}
.contentF .box877 .box437 .bgE9 span{color:#aaa; display:block; text-align:right; margin-top:10px;}



/*--------------征集entry样式-----------*/

.entry378{width:545px; height:400px; overflow:auto; margin:10px auto; }
.entry378 h3{height:23px; width:517px; background:url(http://zj.svip.sohu.com/theme/one/images/titlebar378x30.png) no-repeat; padding:7px 0 0 11px; text-align:left; font-size:14px; font-weight:bold; color:#fff;}
.entryBody{width:508px; height:auto; overflow:hidden; padding:10px; background:#f8ebe6; margin:0; *margin:0 0 0 0; }
.entryBot{height:5px; width:528px; background:url(http://zj.svip.sohu.com/theme/one/images/bot378.png) no-repeat;}

.entryF{height:auto; overflow:hidden; border-bottom:1px solid #e7c3b4; margin:0; }
.entryF fieldset{ width:508px; margin:0; padding:0 0 5px 5px; border:0; }
.entryF fieldset ul{width:508px; height:auto; overflow:hidden;}
.entryF fieldset ul li{text-align:left; height:auto; overflow:hidden; clear:both; margin-bottom:6px !important; *margin-bottom:20px; }
.entryF fieldset ul li .left{display:block; width:105px; margin-right:10px; }
.entryF fieldset ul li .left label{display:block;  padding:3px 0 0 7px; *padding:5px 0 0 7px; }
.entryF fieldset ul li .right{display:block; width:370px; float:left; }
.entryF fieldset ul li .right label{ display:block; float:left;}
.entryF fieldset ul li .left label span.note{ padding:7px 0 0 0; color:#F60; margin:0 5px 0 0;}
.entryF fieldset ul li .right span.note{ padding:7px 0 0 0; color:#F60; margin:0 0 0 10px;}

.entryF fieldset ul li .right input.in179{width:179px; height:20px; line-height:20px; border:1px solid #d3d3d3;}
.entryF fieldset ul li .right textarea{width:280px; height:70px; border:1px solid #d3d3d3;}
.entryF fieldset ul li input.submit{width:62px; height:24px; background:url(http://zj.svip.sohu.com/theme/one/images/btn62x24.gif) no-repeat; border:none; margin:5px 0 0 150px; font-weight:bold; color:#5f5f5f; cursor:pointer;}
.noborder{border:none;}
