.cube{width: 22%;}
.font{width: 77%;}
.col-md-6.change{
    width: 47%;
    min-height: 232px;
    border: 1px solid #aaaaaa;
    padding: 20px 0;
    border-radius: 8px;
    margin-right: 1%;
    margin-bottom: 7px;
    background-color: #fff;
}
.col-md-5.img{
    padding-right: 0;
}
.col-md-7.share{
    padding-left: 30px;
}
.change_h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
.h3-left{
    text-align: right;
    margin-right: 35px;
}
.li-ranking{
    margin-bottom: 20px;
}
.img-ranking{
    text-align: center;
    padding: 0;
}
.ranking-info{
    padding: 20px;
}
.ranking-votes{
    margin-top: 20px;
} 
.a_top{
    position: relative;
    top: -17px;
    left: 18px;
}

.num1{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat; text-indent:20px; height: 13px}
.num2{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -13px; text-indent:20px; height: 13px}
.num3{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -26px; text-indent:20px; height: 13px}
.num4{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -39px; text-indent:20px; height: 13px}
.num5{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -52px; text-indent:20px; height: 13px}
.num6{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -65px; text-indent:20px; height: 13px}
.num7{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -78px; text-indent:20px; height: 13px}
.num8{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -91px; text-indent:20px; height: 13px}
.num9{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -104px; text-indent:20px; height: 13px}
.num10{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -117px; text-indent:20px; height: 13px}
.num11{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -130px; text-indent:20px; height: 13px}
.num12{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -143px; text-indent:20px; height: 13px}
.num13{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -156px; text-indent:20px; height: 13px}
.num14{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -169px; text-indent:20px; height: 13px}
.num15{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -182px; text-indent:20px; height: 13px}
.num16{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -195px; text-indent:20px; height: 13px}
.num17{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -208px; text-indent:20px; height: 13px}
.num18{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -221px; text-indent:20px; height: 13px}
.num19{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -234px; text-indent:20px; height: 13px}
.num20{display:block; background:url(http://zj.svip.sohu.com/theme/one/images/numberIcon1_10.gif) no-repeat 0 -247px; text-indent:20px; height: 13px}